root {
  --white0: #FFF;

}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: system-ui, -apple-system,Roboto,"Helvetica Neue", sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
body {
  margin: 0;
  min-height: 100%;
  background-color:var(--white0);
  font-size: 14px;
  line-height: 20px;
  color: #333;
  cursor: url("../images/blackcircle.svg") 25 25, auto;
}

/* .inline-block {
  max-width: 100%;
  display: inline-block;
} */

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.clearfix:after {
  clear: both;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.container:after {
  clear: both;
}

.navi {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}
.navi:before,
.navi:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.navi:after {
  clear: both;
}
/* .navi-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
} */
.navi-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.navi-link.--current {
  color: #0082f3;
}
.navi-menu {
  position: relative;
  float: right;
}

/* [data-nav-menu-open] {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #c8c8c8;
  text-align: center;
  overflow: visible;
  min-width: 200px;
}
.nav-link-open {
  display: block;
  position: relative;
}
.navi-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}
.navi-overlay [data-nav-menu-open] {
  top: 0;
} */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.container:after {
  clear: both;
}
.container .row {
  margin-left: -10px;
  margin-right: -10px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.row:after {
  clear: both;
}
.row .row {
  margin-left: 0;
  margin-right: 0;
}
.col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.col .col {
  padding-left: 0;
  padding-right: 0;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  max-width: fit-content;
  width: 50vw;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}

/* ikp */
.layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #1f1f1f;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;

  /* font-size: 38px;
  line-height: 44px; */
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  /* font-weight: 500; */
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
  background-color: transparent;
  cursor: url("../images/blackfilled.svg") 25 25, auto;
}

a:hover {
  color: #32343a;
  cursor: url("../images/blackfilled.svg") 25 25, auto;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  position: relative;
  right: 50px;
  margin-bottom: 10px;
}

img {
  display: block;
  margin-right: 20px;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.utility-button {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #0f0f0f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease,
    color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.utility-button:hover {
  background-color: #32343a;
  color: #fff;
}

.utility-button:active {
  background-color: #43464d;
}

.password-field {
  margin-bottom: 0px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.password-field:hover {
  border-color: #e3e6eb;
}

.password-field:active {
  border-color: #43464d;
}

.password-field:focus {
  border-color: #43464d;
}

.password-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.password-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.password-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.password-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: center;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.body {
  background-color: #1f1f1f;
  background-image: none;
  color: #fff;
}

.body.main {
  display: block;
  padding-top: 5vh;
  padding-bottom: 5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f8f8f8;
  background-image: url("../images/Ellipse-60.png");
  background-position: 50% 8%;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body.project {
  background-color: #f8f8f8;
  background-image: none;
}

.nav-link {
  padding: 20px;
  color: #dadada;
  font-weight: 300;
}

.nav-link.--current {
  padding-bottom: 10px;
}

.hero {
  position: relative;
  display: block;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 20vh 15vw 5vh;
}

.h__header {
  display: inline;
  float: right;
  color: #3e4342;
  font-size: 25px;
  line-height: 30px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
}

.h__subheader {
  display: block;
  float: right;
  color: #000;
  font-style: italic;
  font-weight: 300;
  text-align: right;
  white-space: nowrap;
  -o-object-fit: fill;
  object-fit: fill;
}

.p__nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2px 1px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: transparent;
  -webkit-transition-property: none;
  transition-property: none;
  color: #707070;
  font-size: 19px;
  text-decoration: none;
}

.p__nav-link:hover {
  min-width: 322px;
  margin: 1px 0px;
  border: 0.5px solid #3d3d3d;
  border-radius: 15px;
  background-color: hsla(0, 0%, 100%, 0.35);
  color: #3d3d3d;
}

.p__nav-link.--current {
  min-width: 322px;
  padding: 10px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 1px none #000;
  border-radius: 15px;
  background-color: hsla(0, 0%, 100%, 0.4);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #3d3d3d;
  font-size: 19px;
  font-weight: 600;
}

.p__card-text {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #000;
}

.p__card-img {
  position: static;
  width: 280px;
  height: 280px;
  min-width: 200px;
  background-image: url("../images/WDAS-MAC-image.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.p__card-img.wdas {
  position: relative;
  width: 73%;
}

.p__card-img.wdas.logo {
  background-image: url("../images/wdas.png");
  background-size: contain;
}

.p__card-img.csc212 {
  position: relative;
  background-image: url("../images/UR-FEELING-MAC.png");
}

.p__card-img.newsbuds {
  position: relative;
  background-image: url("../images/newsbuds.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.p__card-img.mt {
  position: relative;
  background-image: url("../images/mt-screen.png");
  background-position: 50% 50%;
  background-size: contain;
}

.p__card-img.tt {
  background-image: url("../images/Travling-tree-🖥-iMac.png");
  background-position: 50% 50%;
  background-size: auto;
}

.p__card-img.smirk {
  background-image: url("../images/SmirKit-AR-1.png");
  background-position: 50% 50%;
  background-size: auto;
}

.p__title-desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p__title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.p__type {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.p__year {
  letter-spacing: 2px;
}

.h__text {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10vw;
  margin-left: 10vw;
  padding-left: 153px;
  float: right;
  clear: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.h__text.--about {
  padding-left: 0px;
}

.p__card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  margin-right: 5%;
  margin-left: 5%;
  padding: 50px 45px 25px;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 11px;
  background-color: transparent;
  -webkit-transition: opacity 200ms ease, -webkit-transform 300ms ease;
  transition: opacity 200ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, opacity 200ms ease;
  transition: transform 300ms ease, opacity 200ms ease,
    -webkit-transform 300ms ease;
  text-decoration: none;
}

.p__card:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.p__card:active {
  background-color: hsla(0, 0%, 100%, 0.5);
}

.p__card.--current {
  background-color: transparent;
}

.p__card.wdas.--current {
  background-color: transparent;
}

.pc__title {
  display: inline;
  font-size: 22px;
  font-weight: 700;
  text-align: right;
  -o-object-fit: fill;
  object-fit: fill;
}

.pc__subtitle {
  display: inline;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.pc__subcontainer {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: hsla(0, 0%, 97.3%, 0.9);
}


.nav:hover{
  /* background-color: pink; */
  background-color: white;
}

.nav-link {
  display: inline-block;
  color: #3f3f3f;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link.work {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-weight: 400;
  letter-spacing: 1px;
  -o-object-fit: contain;
  object-fit: contain;
}

.nav-link.work:hover {
  font-weight: 600;
  text-decoration: line-through;
}

.nav-link.work.--current {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: auto;
  margin: 20px auto;
  color: #000;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: line-through;
}

.nav-link.work.--current:hover {
  color: #000;
  font-weight: 600;
  /* WHEN HOVER */
}

.nav-link.about {
  position: absolute;
  left: auto;
  top: 50vh;
  right: 0%;
  bottom: auto;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-weight: 400;
  letter-spacing: 1px;
}

.nav-link.about:hover {
  font-weight: 600;
  text-decoration: line-through;
}

.nav-link.about.--current {
  left: 0px;
  right: auto;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #3f3f3f;
  text-decoration: line-through;
}

.nav-link.about.--current:hover {
  font-weight: 600;
}

.ilene-logo-heading {
  position: absolute;
  top: 20px;
  display: inline-block;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}

.ilene-logo-heading:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.p__section {
  display: block;
  margin: 0vh 0vw;
  padding: 10vh 15vw 10vh 5vw;
  opacity: 0.6;
}

.p__section:hover {
  opacity: 1;
}

.p__section:focus {
  opacity: 1;
}

.p__section.first {
  margin-top: 10vh;
  padding-top: 5vh;
}

.p__nav-col {
  position: relative;
  left: auto;
  top: auto;
  right: 0px;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 322px;
  margin-top: 10vh;
  padding-top: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: transparent;
}

.emph {
  padding-right: 10px;
  padding-left: 6px;
  font-family: 'Homemade Apple', sans-serif;
  font-style: italic;
}

.aboutme__header {
  margin-bottom: 20px;
  font-family: 'Homemade Apple', sans-serif;
  color: #1f1f1f;
  font-size: 30px;
}

.aboutme__img {
  position: absolute;
  width: 14%;
  opacity: 0.6;
}

.aboutme__body {
  color: #1f1f1f;
  text-align: right;
}

.about__section {
  padding: 4vh 15vw;
}

.strikethrough {
  text-decoration: line-through;
}

.p__grid {
  padding-top: 5vh;
  grid-column-gap: 2vw;
  -ms-grid-columns: 0.55fr 1fr;
  grid-template-columns: 0.55fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
}

.p__nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 38vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.p__hero-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.p__deck {
  margin-top: 20px;
  border: 1px solid #000;
  background-color: transparent;
  color: #252525;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.p__hero {
  height: auto;
  margin-left: 0px;
  padding: 10vh 15vw 3vh;
  text-align: left;
  overflow: hidden;
}

.newsbuds-deck-link {
  display: inline;
  color: #1a6920;
  text-decoration: none;
}

.p__hero-subtitle {
  display: inline;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.p__text {
  padding-left: 40px;
  line-height: 16px;
}

.p__text.--bold {
  margin-top: 20px;
  padding-left: 0px;
}

.workswrap {
  display: block;
  padding-right: 15vw;
  padding-bottom: 5vh;
  padding-left: 15vw;
}

.workswrap.--hidden {
  display: none;
}
.p__hero-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-around


}

.p__content {
  position: static;
  color: #2c2c2c;
}

.p__section-header {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.p__link {
  text-align: right;
}

.p__summary {
  line-height: 16px;
  text-align: right;
}

.p__hero-desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: min-content;
  min-width: 30vw;
  padding-right: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.p__hero-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 90vh;
  min-height: 22vh;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.--bold {
  font-weight: 700;
}

.p__text {
  padding-left: 40px;
}

.p__ext-link {
  margin-bottom: 10px;
  color: #2b7012;
  text-decoration: none;
}

.collection-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.p__text-img {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.link {
  display: inline;
}

.section {
  padding-bottom: 15vh;
}

.pf__nav-link {
  display: inline;
  float: right;
}

.pf__nav-link.next {
  padding-right: 0vw;
  float: right;
  text-align: right;
  text-decoration: none;
}

.pf__nav-link.next:hover {
  text-decoration: underline;
}

.pf__nav-link.prev {
  padding-left: 0vw;
  float: left;
  text-decoration: none;
}

.pf__nav-link.prev:hover {
  text-decoration: underline;
}

.p__footer {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  padding-top: 5vh;
  padding-bottom: 15vh;
}

.text-block {
  float: none;
}

.p__nav-container {
  float: right;
}

.p__nav-container.next {
  padding-right: 15vw;
}

.p__nav-container.prev {
  padding-left: 15vw;
  float: left;
}

.playbook-link {
  display: inline;
  color: #bf460a;
  text-decoration: none;
}

.playbook-link:hover {
  color: rgba(191, 70, 10, 0.8);
}

.p__nav-lable {
  color: #717171;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.p__nav-lable.prev {
  direction: rtl;
  text-align: left;
}

.p__nav-lable.next {
  direction: ltr;
  text-align: right;
}

.p__e-text {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #000;
  line-height: 16px;
  text-align: center;
  text-transform: none;
}

.columns {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 10px;
}

.columns.imgcol {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.column-3 {
  padding-right: 25px;
  padding-left: 25px;
}

.circle-div {
  width: 15px;
  height: 15px;
  margin: 5px auto;
}

._3col-text {
  color: #000;
  line-height: 16px;
  text-align: center;
}

.div-block-14 {
  width: 15px;
  height: 15px;
  margin-right: auto;
  margin-left: auto;
}


.grid-9 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.p__e-works {
  padding: 20px;
  background-color: #8893a5;
}

.p__e-works.tt {
  display: block;
  background-color: #95a588;
}

.image {
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  opacity: 0.8;
}

.text-highlight-yellow {
  background-color: #f8f2d4;
}

.text-highlight-orange {
  background-color: #f7e3cc;
}

.text-highlight-red {
  background-color: #f5cccd;
}

.text-highlight-green {
  background-color: #d3f9cc;
}

.text-highlight-blue {
  background-color: #e0f6f9;
}

.column-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  clear: right;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-27 {
  opacity: 0.57;
}

.smirkit-link {
  color: #876e00;
  text-decoration: none;
}

.smirkit-link:hover {
  color: #544500;
}

/*
 * Remove most spacing between table cells.
 * Will I ever have tables on this website tho
 */
 
/* table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
} */


/* SCREEN SIZE GAH */

@media screen and (max-width: 991px) {
  .utility-button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .body {
    background-position: 50% 100%;
    background-size: cover;
    background-attachment: fixed;
  }

  .body.main {
    background-position: 50% 0%;
    background-size: auto;
  }

  .hero {
    margin-top: 8vh;
  }

  .p__nav-link {
    max-width: 290px;
    min-width: 290px;
    font-size: 16px;
    line-height: 20px;
  }

  .p__nav-link:hover {
    min-width: 290px;
  }

  .p__nav-link.--current {
    min-width: 290px;
    font-size: 16px;
    line-height: 20px;
  }

  .p__card-text {
    width: 100%;
    min-width: 200px;
  }

  .p__title-desc {
    font-size: 12px;
  }

  .p__title {
    font-size: 18px;
  }

  .p__type {
    letter-spacing: 3px;
  }

  .h__text {
    margin-right: 0vw;
  }

  .p__card {
    float: none;
  }

  .p__section {
    padding-right: 0vw;
  }

  .p__section.first {
    position: relative;
    right: 0px;
    padding-right: 0vw;
  }

  .p__grid {
    -ms-grid-columns: 0.55fr minmax(200px, 0.8fr);
    grid-template-columns: 0.55fr minmax(200px, 0.8fr);
  }
}

@media screen and (max-width: 767px) {
  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .protected-form {
    padding-right: 20px;
    padding-left: 20px;
  }

  .body.main {
    background-size: auto;
  }

  .hero {
    margin-top: 5vh;
    margin-bottom: 0vh;
    padding-top: 10vh;
    padding-right: 10vw;
    padding-left: 5vw;
  }

  .h__header {
    font-size: 24px;
    line-height: 40px;
    text-align: right;
  }

  .h__subheader {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .p__nav-link {
    max-width: 500px;
  }

  .p__title {
    font-size: 20px;
  }

  .p__type {
    font-size: 16px;
  }

  .p__year {
    font-size: 16px;
  }

  .h__text {
    padding-left: 0px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .pc__title {
    font-size: 20px;
  }

  .nav {
    z-index: 99;
    display: block;
    height: 125px;
    padding-right: 8vw;
    background-color: hsla(0, 0%, 97.3%, 0.95);
  }

  .nav-link.work.--current {
    position: absolute;
    left: auto;
    top: auto;
    right: 0px;
    bottom: auto;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }

  .nav-link.about {
    position: absolute;
    left: auto;
    top: 60px;
    right: 0px;
    bottom: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .ilene-logo-heading {
    margin-top: 0px;
    margin-left: 20px;
  }

  .menu-hamburger {
    float: right;
    color: #000;
  }

  .p__section {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .p__nav-col {
    z-index: 80;
    margin-top: 5vh;
  }

  .p__grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .p__nav-bar {
    margin-right: 10vw;
  }

  .link-block {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .nav-link {
    padding-right: 35px;
    text-align: right;
  }

  .nav-link.--current {
    right: 0px;
    display: block;
    padding-right: 35px;
    padding-bottom: 20px;
    float: none;
    text-align: right;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .hero {
    margin-top: 5vh;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .h__header {
    font-size: 20px;
    line-height: 25px;
  }

  .h__subheader {
    font-size: 10px;
    line-height: 20px;
  }

  .p__nav-link {
    max-width: 300px;
    font-size: 12px;
    line-height: 14px;
  }

  .p__nav-link.--current {
    font-size: 12px;
    line-height: 14px;
  }

  .p__card {
    width: 90vw;
  }

  .p__card.wdas {
    width: 90vw;
  }

  .pc__title {
    font-size: 18px;
    line-height: 24px;
  }

  .nav {
    padding-right: 0vw;
  }

  .nav-link.work.--current {
    display: inline-block;
    padding-right: 20px;
  }

  .nav-link.about {
    padding-right: 20px;
  }

  .p__section {
    padding-right: 5vw;
    padding-left: 0vw;
  }

  .p__section.first {
    padding-left: 0vw;
  }

  .p__nav-col {
    min-width: 290px;
  }

  .p__grid {
    padding-top: 0vh;
  }

  .p__nav-bar {
    margin-right: 0vw;
    margin-left: 0px;
  }
}

#w-node-_35bc8051-ab4a-bebc-2130-49d7751009f5-485ecec1 {
  -ms-grid-row: span 6;
  grid-row-start: span 6;
  -ms-grid-row-span: 6;
  grid-row-end: span 6;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 991px) {
  #ps-wdas.w-node-ac1f091a-9ef6-02f5-536f-609114269ca0-485ecec1 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}
